<div class="container">

  <app-todo-list></app-todo-list>

  <!--<h1>-->
    <!--Текущее значение {{counterValue}}-->
  <!--</h1>-->

  <!--<p *ngIf="counterValue < 5">-->
    <!--А ну-ка поднажми!-->
  <!--</p>-->

  <!--<div>-->
    <!--<button (click)="changeCounterValue()">Опятнадцатерить</button>-->
  <!--</div>-->
  <!--<br><br>-->

  <!--<app-counter-->
    <!--[counterValue]="counterValue"-->
    <!--(counterChange)="changeCounter($event)"-->
  <!--&gt;</app-counter>-->
</div>
<!--<app-example1></app-example1>-->
<!--<app-example2></app-example2>-->
