/* You can add global styles to this file, and also import other style files */

.container {
  width: 400px;
  margin: 0 auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
